<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Captcha</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/reset.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/essential.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/homepage.css') }} ">
    <!-- <script src="script.js"></script> -->
</head>

<body>
    <section class="main-wrapper">
        <main class="xa-view main-container">
            <a href="/index" target="_blank">
                <img class="logo-img" src="https://www.douban.com/misc/captcha?id={{captcha_id}}&size=s" align="left" border="0" />
            </a>
            <div class="xa-cell">
                <div><b>tomato<sup>w</sup></b>&#8203;<sub>(pre-alpha)</sub></div>
                <form class="xa-flex" action="/captcha" method="get" autocomplete="off" role="search">
                    <input class="search-input" type="search" name="search" placeholder="Verify The Captcha" autofocus>
                </form>
            </div>
        </main>
    </section>
</body>

</html>


